$blue-normal: #1593FF;
$blue-hover: #198AE7;

$green-normal: #1BC7B1;
$green-hover: #00B49D;

$orange-normal: #F89300;
$orange-hover: #EF8A00;

$red-normal: #FF296A;
$red-hover: #FF004D;

$boxShadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);